body{
    background-color:rgb(250, 178, 90);
}
a{ color: white;
    text-decoration: none;
}
h1{
    color: rgb(7, 7, 73);
    text-align: center;
    font-size: 100px;
}
.Atech{
    text-align: center;
    color: white;
    font-size: 20px;
}